<html>
  <header>
    <div class="logo">
     <img class="logoo" src="../../../assets/backgroundimg/logomonke.png">
    </div>
    <div class="menu">
        <a routerLink="../profile" class="link">
          <div class="title">Profile</div>
          <div class="bar"></div>
        </a>
        <a routerLink="../ranking" class="link">
          <div class="title">Ranking</div>
          <div class="bar"></div>
        </a>
        <a href="#" class="link" >
          <div class="title">cerrar sesion</div>
          <div class="bar"></div>
        </a>
      </div>
  </header>
<body>
  <div class="wrapper">
    <div class="lboard_section">
      <div class="lboard_tabs">
        <div class="tabs">
          <ul>
            <li data-li="today">Rankings</li>
              <button (click)="createRanking()">Crear Ranking</button>
          </ul>
        </div>
      </div>
      <div class="lboard_wrap">
        <div class="lboard_item month" style="display: block;" *ngFor="let item of ranking; let i = index">
          <div class="lboard_mem">
            <div class="img">
              <img src="../../../assets/placeholders/userPlaceholder.jpg">
            </div>
            <div class="name_bar">
              <!--nombre usuario-->
              <p><span>{{i+1}}.</span>{{item.name}}</p>
            </div>
            <!--editar boton-->
            <div class="edit">
              <button (click)="editarRanking()">Editar</button>
              <button (click)="borrarRanking({id_ranking:1,id_teacher:17})">Borrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
