<html>
  <header>
    <div class="logo">
     <img class="logoo" src="../../../assets/backgroundimg/logomonke.png">
    </div>
    <div class="menu">
        <a routerLink="../profile" class="link">
          <div class="title">Profile</div>
          <div class="bar"></div>
        </a>
        <a routerLink="../ranking" class="link">
          <div class="title">Ranking</div>
          <div class="bar"></div>
        </a>
        <a href="#" class="link" >
          <div class="title">Login/Register</div>
          <div class="bar"></div>
        </a>
      </div>
  </header>
<body>
  <div class="wrapper">
    <div class="lboard_section">
      <div class="lboard_tabs">
        <div class="tabs">
          <ul>
            <li data-li="today">LeaderBoard</li>
          </ul>
        </div>
      </div>
      <div class="lboard_wrap">
        <div class="lboard_item month" style="display: block;">
          <div class="lboard_mem">
            <div class="img">
              <img src="../../../assets/placeholders/userPlaceholder.jpg">
            </div>
            <div class="name_bar">
              <!--nombre usuario-->
              <p><span>1.</span> Alex Mike</p>

              <div class="bar_wrap">
                <!--barra rango-->
                <div class="inner_bar" style="width: 95%"></div>
              </div>
            </div>
            <div class="points">
              <!--Puntuacion ranking-->
              1195 points
            </div>
            <!--editar boton-->
            <div class="edit">
              <button>Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
