
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="../../../assets/backgroundimg/wallpaperbetter.jpg" alt="">
        <div class="text">
          <span class="text-1">Every new friend is a <br> new adventure</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back">
        <img src="../../../assets/backgroundimg/wallpaperbetter.jpg" alt="">
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms" #teacherForm="ngform">
        <div class="formContent">
          <div class="loginForm">
            <div class="title">Login</div>
          <form action="#">
            <div class="inputBoxes">
              <div class="inputBox">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Pon tu correo" required ngModel> 
              </div>
              <div class="inputBox">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Pon tu contraseña" required ngModel>
              </div>
              <div class="text"><a href="#">Olvidaste tu contraseña?</a></div>
              <div class="button inputBox">
                <input type="submit" value="Sumbit">
              </div>
              <div class="text signupText">No tienes una cuenta? <label for="flip">Registrate</label></div>
            </div>
        </form>
      </div>
        <div class="signupForm">
          <div class="title">Signup</div>
        <form action="#">
            <div class="inputBoxes">
              <div class="inputBox">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Pon tu nombre" name="nick" required ngModel>
              </div>
              <div class="inputBox">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Pon tu correo" name="email" required ngModel>
              </div>
              <div class="inputBox">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Pon tu contraseña" name="password1" required ngModel>
              </div>
              <div class="inputBox">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="repite tu contraseña"  name="password2" required ngModel>
              </div>
              <div class="inputBox">
                <i class="fas fa-user-tie"></i>
                <input type="text" placeholder="Pon tu nombre"  name="name" required ngModel>
              </div>
              <div class="inputBox">
                <i class="fas fa-user-tie"></i>
                <input type="text" placeholder="Pon tu apellido"  name="surname" required ngModel>
              </div>
              <div class="inputBox">
                <i class="fas fa-school"></i>
                <input type="text" placeholder="Pon tu centro de estudios" name="school" required ngModel>
              </div>
              <div class="button inputBox">
                <input type="submit" value="Sumbit">
              </div>
              <div class="text signupText">Ya tienes una cuenta? <label for="flip">Logeate</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
</body>

