<html>
  <header>
    <div class="logo">
     <img class="logoo" src="../../../assets/backgroundimg/logomonke.png">
    </div>
    <div class="menu">
      <a routerLink="../notifications" class="link">
        <div class="title">Notifications</div>
        <div class="bar"></div>
      </a>
        <a routerLink="../profile" class="link">
          <div class="title">Profile</div>
          <div class="bar"></div>
        </a>
        <a routerLink="../ranking" class="link">
          <div class="title">Ranking</div>
          <div class="bar"></div>
        </a>
        <a href="#" class="link" (click)="usersService.logOut()">
          <div class="title">Cerrar sesion</div>
          <div class="bar"></div>
        </a>
      </div>
  </header>
<body>
  <div class="wrapper">
    <div class="lboard_section">
      <div class="lboard_tabs">
        <div class="tabs">
          <ul>
            <li data-li="today">LeaderBoard</li>
            <select aria-placeholder="Tareas" name="taskas" [(ngModel)]="currentTask.id_task" (change)="changeScores($event)">
              <option [value]="item.id_task" *ngFor="let item of rankingService.getTasks()">{{item.name}}</option>
            </select>
              <button  (click)="edittask()" *ngIf="this.user2.userType == 1" class="buttonA"><img class="icon" src="../../../assets/icons/editiconB.png"></button>
              <button (click)="deletetask()" *ngIf="this.user2.userType == 1"  class="buttonA"><img class="icon" src="../../../assets/icons/deleticonB.png"></button>
              <button (click)="addtask()" *ngIf="this.user2.userType == 1"  class="buttonA"><img class="icon" src="../../../assets/icons/addiconB.png"></button>
          </ul>
        </div>
      </div>
      <div class="lboard_wrap">
        <div class="lboard_item month" style="display: block;">
          <div class="lboard_mem" *ngFor="let user of user; let i = index">
            <!-- quitar el botton de editar i ponerlo arriba junto con un desplegable para ver las tareas-->
            <div class="img">
              <img class="profileImage" *ngIf="user?.image != ''" src="{{user?.image}}">
              <img class="profileImage" *ngIf="user?.image == '' || user?.image == null" src="../../../assets/placeholders/userPlaceholder.jpg">
            </div>
            <div class="name_bar">
              <!--nombre usuario-->
              <p><span>{{i}}.</span> {{user.nickname}} ({{user.name}} {{user.surname}}) </p>
            </div>
            <div class="points">
              <!--Puntuacion ranking-->
              {{findUserScore(user)}} puntos
            </div>

            <div>
              <img (click)="deleteUser(user)" *ngIf="this.user2.userType == 1" class="icon" src="../../../assets/icons/deleticon.png">
            </div>
            <!--editar boton-->

          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

