<div id="login">
    <div class="form">
      <h1>Sign up</h1>
      <h2>Get started absolutely free</h2>
      <input type="text" placeholder="nick">
      <input type="email" placeholder="email">
      <input type="password" placeholder="pasword">
      <input type="password" placeholder="paswordVerify">
      <input type="text" placeholder="name">
      <input type="file" accept="image/">
      <input type="text" placeholder="surname">
      <input type="text" placeholder="headquarters"/>
      <button type="submit">Sign up</button>
    </div>
    
  </div>