<html>
<header>
  <div class="logo">
   <img class="logoo" src="../../../assets/backgroundimg/logomonke.png">
  </div>
  <div class="menu">

    <a routerLink="../notifications" class="link">
      <div class="title">Notificaciones</div>
      <div class="bar"></div>
    </a>
    <a routerLink="../profile" class="link">
      <div class="title">Perfil</div>
      <div class="bar"></div>
    </a>
    <a routerLink="../ranking" class="link">
      <div class="title">Ranking</div>
      <div class="bar"></div>
    </a>
    <a href="#" class="link" (click)="usersService.logOut()">
      <div class="title">Cerrar sesion</div>

      <div class="bar"></div>

    </a>
  </div>
</header>
<body>
  <div ng-init="sweetalert()"></div>
  <div>

    <div class="imageCard standarCard">
      <button (click)="openEditMode()"><img class="icon" src="../../../assets/icons/editIcon.png"></button>

      <div class="imageCardContainer">

        <div class="pic" *ngIf="!editMode">
          <!--<div class="editPic">-->

          <!--</div>-->
          <img class="profileImage" *ngIf="user?.image != ''" src="{{user?.image}}">
          <img class="profileImage" *ngIf="user?.image == '' || user?.image == null" src="../../../assets/placeholders/userPlaceholder.jpg">


        </div>
        <div class="pic" *ngIf="editMode">
          <!--<div class="editPic">-->

          <!--</div>-->
          <img class="profileImage" (click)="fileChangeOpen()" *ngIf="user?.image != ''" src="{{user?.image}}">
          <img class="profileImage" (click)="fileChangeOpen()" *ngIf="user?.image == '' || user?.image == null" src="../../../assets/placeholders/userPlaceholder.jpg">



        </div>
        <input class="hidden" type="file" id="upload-file" name="upload-file" (change)="fileChangeEvent($event)">

        <div class="titulo">
          <p *ngIf="user?.userType == 1">Profesor</p>
          <p *ngIf="user?.userType == 0">Estudiante</p>
        </div>
        <div class="info" *ngIf="!editMode">
          <p class="nick">usuario: {{user?.nickname}}</p>
          <p>nombre: {{user?.name}}</p>
          <p>correo: {{user?.mail}}</p>
          <p>contraseña: <br><button *ngIf="!passwordShowed" (click)="showPassword()">Mostar contraseña</button>
          <div *ngIf="passwordShowed">
           <input class="inputBox" type="password" [(ngModel)]="lastPassword" placeholder="Introduzca su contraseña">
           <input class="inputBox" type="password" [(ngModel)]="newPassword" placeholder="Introduzca una contraseña nueva">
           <input class="inputBox" type="password" [(ngModel)]="repeatNewPassword" placeholder="Introduzca la contraseña nueva de nuevo">
          <button (click)="changePassword()">Cambiar contraseña</button>
          </div>
        </div>

        <div class="info" *ngIf="editMode">



          <p class="nick">usuario: <input type="text" [(ngModel)]="user.nickname" readonly></p>
          <p>nombre: <input type="text" [(ngModel)]="user.name"></p>
          <p>apellido: <input type="text" [(ngModel)]="user.surname"></p>
          <p>correo: <input type="text" [(ngModel)]="user.mail"></p>


          <button (click)="editProfileData()">Editar</button>
        </div>
    </div>

  </div>
  <div class="cardBox">
    <p class="tittleRanking">Ranking</p>
    <div>
       <div class="standarCard" *ngFor="let rank of rankingService.getRankings()">
          {{rank.name}}
        </div>
    </div>
  </div>
</div>


</body>
</html>
