.profileImage{
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
.imageCardContainer{
  text-align: center;
}

.imageCard{
  float: left;
  margin-right: 10px;
}
.cardBox{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-self: center;
  margin-top: 30px;
}
.infoCard{
  margin-left: 10px;
  float:right;
  width:fit-content;
  align-items: center;
  text-align: left;


}
.standarCard{
  border-radius: 20px;
  border: 1px solid rgba(92, 92, 92, 0.301);
  height: fit-content;
  padding:15px;
}
.rankingCard{
  width:fit-content;
}
